
@{
	ViewData["Title"] = "Adicionar Cliente";
}
<h1>Adicionar cliente</h1>

<div class="grego">


    <form action="#">
        <div class="row">
            <div class="col-25">
                <label for="#">Nome Completo</label>
            </div>
            <div class="col-75">
                <input type="text" name="#" id="#">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="#">E-mail</label>
            </div>
            <div class="col-75">
                <input type="email" name="#" id="#">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="#">Telefone</label>
            </div>
            <div class="col-75">
                <input type="tel" name="#" id="#">
            </div>
        </div>
        
        
        <br/>
        <div class="row">
            <input type="submit" value="Enviar">
        </div>










    </form>
</div>
